



Requirements and Supported Versions | 6.3.x | Cloudera Documentation









































 Documentation


Products
Services & Support
Solutions









Cloudera Altus Director 6.3.x | Other versions














View All Categories

Introduction

Displaying Altus Director Documentation
Altus Director Interfaces


Release Notes

New Features and Changes
Known Issues
Fixed Issues
Unsupported Components and Features
Altus Director API


Requirements and Supported Versions
Getting Started

Amazon Web Services (AWS)

Preparing Your AWS EC2 Resources
Launching an EC2 Instance for Altus Director

Choosing an AMI


Installing Altus Director Server and Client on the EC2 Instance
Subscribing to Altus Director in the AWS Marketplace
Configuring a SOCKS Proxy for Amazon EC2
Adding an Altus Director Environment on AWS
Simple Setup: Creating a Cluster on AWS with Default Settings
Advanced Setup: Installing Cloudera Manager and CDH on AWS
Pausing a Cluster on AWS
Cleaning Up Your AWS Deployment
Using Custom DNS in AWS


Google Cloud Platform

Creating a Google Cloud Platform Project
Configuring Tools for Your Google Cloud Platform Account
Creating a Google Compute Engine VM Instance
Installing Altus Director Server and Client on Google Compute Engine
Configuring a SOCKS Proxy for Google Compute Engine
Deploying Cloudera Manager and CDH on Google Compute Engine
Cleaning Up Your Google Cloud Platform Deployment


Microsoft Azure

Obtaining Credentials for Altus Director
Setting up Azure Resources
Setting Up Dynamic DNS on Azure
Setting Up MySQL or PostgreSQL
Setting Up a Virtual Machine for Altus Director Server
Installing Altus Director Server and Client on Azure
Configuring a SOCKS Proxy for Microsoft Azure
Allowing Access to VM Images
Adding an Altus Director Environment on Azure
Simple Setup: Creating an Azure Cluster with Default Settings
Advanced Setup: Installing Cloudera Manager and CDH on Azure
Terminating an Azure Deployment
Adding New VM Images, Custom VM Images, Regions, and Instances
Important Notes About Altus Director and Azure




Usage-Based Billing

Usage Bundles


Using Cloud Provider Regions

Running Altus Director and Cloudera Manager in Different Regions or Clouds
Using a New AWS Region in Altus Director


Configuring Storage for Altus Director

Using MySQL for Altus Director Server
Using MariaDB for Altus Director Server
Altus Director Database Encryption
Migrating the Altus Director Database


Configuring Storage for Cloudera Manager and CDH

Using an External Database for Cloudera Manager and CDH

Defining External Database Servers
Defining External Databases
Using the External Databases for Cloudera SDX


Using Amazon S3 Object Storage


Using EBS Volumes for Cloudera Manager and CDH
Security, Encryption, and High Availability

Enabling TLS with Altus Director
SSH Host Key Retrieval and Verification
Creating Kerberized Clusters With Altus Director
Enabling Sentry Service Authorization
Creating Highly Available Clusters With Altus Director
Encrypted Configuration Properties


Configuring and Running Altus Director

Auto-Repair for Failed or Terminated Instances
Deploying Java on Cluster Instances
Setting Altus Director Properties
Pausing Altus Director Instances
Configuring Altus Director Server for LDAP and Active Directory
Configuring Altus Director for a New AWS Instance Type
Configuring Altus Director to Use Custom Tag Names on AWS


Running Altus Director Behind a Proxy

Configuring Cloudera Manager to Use a Proxy
Configuring Other Software to Use a Proxy
Configuring Altus Director to Use a Proxy
Authenticating Proxies
HTTPS Proxies


Using Altus Director Server to Manage Cloudera Manager Instances

Altus Director and Cloudera Manager Usage
Setting Cloudera Manager Configurations
Ports Used by Altus Director
SSH Keys in Altus Director
Creating AWS Identity and Access Management (IAM) Policies
Using Custom Repositories with Cloudera Manager and CDH
Cloudera Manager Health Information
Opening Cloudera Manager
Diagnostic Data Collection
User Management


Using Altus Director Server to Manage Cluster Instances

The Altus Director Configuration File
Submitting a Cluster Configuration File
Exporting a Configuration File
Deploying Clusters in an Existing Environment
Using Spot Instances
Using Automatic Instance Groups
Using Products outside CDH with Altus Director

Custom Service Descriptors
Using Kudu with CDH 5.12 or Earlier
Using Spark 2 with Altus Director
Using Cloudera Data Science Workbench with Altus Director
Using Third-Party Products with Altus Director


Creating and Modifying Clusters with the Altus Director Web UI
Altus Director Scripts
Terminating a Cluster


Using the Altus Director Client

Installing Altus Director Client
Provisioning a Cluster on AWS
Running Altus Director Client


Upgrading Altus Director
Troubleshooting
FAQ
Altus Director Glossary





To read this documentation, you must turn JavaScript on.




Requirements and Supported Versions

The following sections describe the requirements and supported operating systems, databases, and browsers for Altus Director.

Continue reading:

Cloud Providers
Altus Director Service Provider Interface (SPI)
Supported Software and Distributions
Resource Requirements
Supported Cloudera Manager and CDH Versions
Cloudera Data Science Workbench Support
Networking and Security Requirements
Supported Browsers




Cloud Providers

Altus Director has native support for Amazon Web Services (AWS), Google Cloud Platform, and Microsoft Azure.
Each Altus Director release embeds the current plug-in for supported cloud providers, but a newer plug-in might have been posted on the Cloudera GitHub site subsequent to the Altus
Director release. To check for the latest version, click the appropriate link:

AWS cloud provider plug-in
Google Cloud Platform cloud provider plug-in
Microsoft Azure cloud provider plug-in





Altus Director Service Provider Interface (SPI)

The Altus Director SPI defines an open source Java interface that plug-ins implement to add support for additional cloud providers to Altus Director. For more information, see the
README.md file in the SPI Altus Director GitHub repository.



Supported Software and Distributions

The table below lists software requirements, recommendations, and supported versions for resources used with Altus Director.




 
Altus Director
Cloudera Manager and CDH




Operating Systems (64-bit only)

RHEL and CentOS 6.7, 6.8, 7.2, 7.4, 7.5
Ubuntu 14.04, 16.04, 18.04


For AWS: RHEL and CentOS 6.8, 6.9, 7.2, 7.3, 7.4, 7.5, 7.6
For Google Cloud Platform: RHEL and CentOS 6.8, 6.9, 7.2, 7.3, 7.4, 7.5, 7.6
For Microsoft Azure: RHEL and CentOS 6.8, 6.9, 7.2, 7.3, 7.4, 7.5, 7.6
Notes:

RHEL 7.5 is supported for Cloudera Manager and CDH 6.0 and higher.
RHEL 7.4 is supported only for Cloudera Manager and CDH 5.11 and higher.
RHEL 7.3 is supported only for Cloudera Manager and CDH 5.10 and higher.
RHEL 7.2 is supported only for Cloudera Manager and CDH 5.7 and higher.
AWS supports Spot instances only on Centos operating systems, not on RHEL.





Oracle Java SE Development Kit (JDK)

Oracle JDK version 8
For download and installation information, see Java SE
Downloads.


Oracle JDK version:

Cloudera Manager and CDH 5.x: JDK 7 or 8.
Cloudera Manager and CDH 6: JDK 8.

For more information about deploying Java in Altus Director-managed clusters, see Deploying Java on Cluster
Instances.



OpenJDK

OpenJDK version 8
For download and installation information, see OpenJDK Installation.


OpenJDK version:

Cloudera Manager and CDH 5.16.x: JDK 7 or 8.
Cloudera Manager and CDH 6.x: JDK 8.

For more information about deploying Java in Altus Director-managed clusters, see Deploying Java on Cluster
Instances.



Default Database

Embedded H2 database (not recommended for production use)
Recommended size: 10 GB.
Note: Less storage space might suffice. The required size of the Altus Director database depends on how many environments, deployments, and
clusters Altus Director manages.


Embedded PostgreSQL Database (not recommended for production use)


Supported Databases

MySQL 5.6, 5.7
MariaDB 5.6, 5.7
Azure Database for MySQL 5.7
Recommended size: 10 GB.
Note: Less storage space might suffice. The required size of the Altus Director database depends on how many environments, deployments, and
clusters Altus Director manages.



MySQL 5.6, 5.7
MariaDB 5.6, 5.7
Azure Database for MySQL 5.7
PostgreSQL 8.1, 8.3, 8.4, 9.1, 9.2, 9.3, 9.4, 9.5, 9.6





Note: In production environments, you should use an external MySQL or MariaDB database for Altus Director. For information on using an external
MySQL database in place of the H2 embedded database, see Using MySQL for Altus
Director Server. For information on using an external MariaDB database in place of the H2 embedded database, see Using MariaDB for Altus Director Server. By default, Altus Director stores its environment and cluster data in
the embedded H2 database located at /var/lib/cloudera-director-server/state.h2.db. Back up this file to avoid losing the data. Cloudera strongly recommends using MySQL
or MariaDB for production deployments of Altus Director, instead of H2. Use of the H2 database in production environments can result in excessive space consumption for database files
and slow database access. Unlike managed MySQL and MariaDB databases, H2 files are not backed up regularly, which puts your production deployment of Director at risk of data loss.
Note: The versions of PostgreSQL listed above are supported with Cloudera Manager 6 and CDH 6. Setting up PostgreSQL via Amazon RDS for Cloudera
Manager and CDH is not supported. For a table of PostgreSQL versions supported with earlier versions of Cloudera Manager and CDH, see the PostgreSQL section of CDH and Cloudera Manager Supported Databases in the
Cloudera Enterprise release notes. For information on setting up external database servers and on creating databases on existing database servers, see Using an External Database for Cloudera Manager and CDH.
Note: For the latest information on operating system versions supported on Microsoft Azure, refer to the Cloudera Reference Architecture for Microsoft Azure Deployments.



Resource Requirements

The table below lists requirements for resources used with Altus Director.




 
Altus Director
Cloudera Manager and CDH




CPU
2
4


RAM
3.75 GB
64 GB


Disk
8 GB
500 GB


Recommended AWS instance
c3.large or c4.large

Cloudera Manager: m4.xlarge or m4.4xlarge



Recommended Google Cloud Platform instance
n1-standard-2
n1-highmem-4 or n1-highmem-8


Recommended Microsoft Azure instance
Standard_D3 or larger

The following Azure instance types are supported:

Standard_D12_v2
Standard_D13_v2
Standard_D14_v2
Standard_D15_v2
Standard_DS12_v2
Standard_DS13_v2
Standard_DS14_v2
Standard_DS13
Standard_DS14
Standard_DS15_v2
Standard_D2s_v3
Standard_D4s_v3
Standard_GS4
Standard_GS5


In addition, the following series of instance types are supported:

Fsv2-series
Dsv3-series
Esv3-series







Note: For the latest information on instance types supported on Microsoft Azure, refer to the Cloudera Reference Architecture for Microsoft Azure Deployments.
Note: The recommended instance for Cloudera Manager depends on the workload. Some instance types might not be available in every region. Altus
Director does not dynamically validate instance type by region. Contact your Cloudera account representative for more information.



Supported Cloudera Manager and CDH Versions


Altus Director 6.3 can install any version of Cloudera Manager 6 with a supported version of the CDH 6 parcel.
Altus Director 6.3 can install Cloudera Manager 5.7 (and higher) and the corresponding supported versions of CDH. Use of CDH packages
is not supported.
Altus Director 2.x cannot be used to install Cloudera Manager 6.x and CDH 6.x.

If you are using Altus Director 6.3 to deploy Cloudera Manager and CDH, the latest released version of Cloudera Manager 6.3.x and CDH 6.3.x is installed by default. To use any other
version of Cloudera Manager or CDH, follow the instructions for installing non-default versions of Cloudera Manager and CDH in the Getting Started section for your cloud provider:

For AWS, see Advanced Setup: Installing Cloudera Manager and CDH on AWS.
For Google Cloud Platform, see Deploying Cloudera Manager and CDH on Google Compute
Engine.
For Microsoft Azure, see Deploying Cloudera Manager and CDH on Microsoft Azure.





Cloudera Data Science Workbench Support

Altus Director can deploy Cloudera Data Science Workbench on clusters running Cloudera Manager 5.13.1 (and higher 5.x versions).
Cloudera Data Science Workbench (1.4.x and lower) is not currently supported with Cloudera Manager 6.0.0 and CDH 6.0.0. Consequently, you cannot use Altus Director 6 to deploy Cloudera
Data Science Workbench on a C6 cluster. Cloudera Data Science Workbench will be supported with Cloudera Enterprise 6 in a future release.



Networking and Security Requirements

Altus Director recommends the following inbound ports to be open:

TCP ports 22: These ports allow SSH to Altus Director instance.
All traffic across all ports within the security group: This rule allows connectivity with all the components within the Hadoop cluster. This rule avoids
numerous individual ports to be opened in the security group.






Type
Protocol
Port Range
Source




SSH (22)
TCP (6)
22
0.0.0.0/0


ALL Traffic
ALL
ALL
security_group_id
See note paragraph below.





Note: In AWS, the All traffic rule above requires the security group ID. If you create a security group from
scratch, create the security group with the SSH rule and then go back and edit the security group to allow all traffic within the security group.
To connect to the AWS network, Cloudera recommends that you open only these ports and set up a SOCKS proxy. Unless your network has direct connection to AWS, you must set this up to
access the Altus Director instance. This is done in a later step.
In a restricted network environment, you might want to enable minimal network traffic between instances and keep open ports to a minimum rather than enabling all network traffic between
cluster instances. For information about minimal port requirements, see Ports Used by Altus Director.



Supported Browsers

Altus Director supports the following browsers:

Mozilla Firefox 11 and higher
Google Chrome
Internet Explorer 9 and higher
Safari 5 and higher





Categories: Altus Director | Requirements | All Categories



Altus Director API


Getting Started


















About Cloudera
Resources
Contact
Careers
Press
Documentation

United States: +1 888 789 1488
Outside the US: +1 650 362 0488



© 2019 Cloudera, Inc. All rights reserved. Apache Hadoop and associated open source project names are trademarks of the Apache Software Foundation. For a complete list of trademarks, click here.
If this documentation includes code, including but not limited to, code examples, Cloudera makes this available to you under the terms of the Apache License, Version 2.0, including any required
notices. A copy of the Apache License Version 2.0 can be found here.










Terms & Conditions  |  Privacy Policy

Page generated July 28, 2019.












