CDP Private Cloud Data Services Software RequirementsCloudera Docs
CDP Private Cloud Data Services Software Requirements
You must learn about the software and configuration requirements before deploying CDP
        Private Cloud. Administrators and operators must understand these requirements to install
            CDP Private Cloud Data Services in your data center.
You must understand the following software requirements before you install CDP Private
            Cloud:

OpenShift integration requirements
CDP Private Cloud Base requirements
External database requirements
External vault requirements


External vault requirementsYou can learn about how to configure an external HashiCorp Vault for CDP Private Cloud Data Services. Hashicorp Vault securely stores your         passwords, tokens, certificates, and encryption keys. Docker repository accessYou must ensure that the cluster has access to the Docker Container     Repository in order to retrieve the container images for deployment. CML software requirements for Private CloudTo launch the Cloudera Machine Learning service, the Private Cloud host must meet         several software requirements. Review the following CML-specific software         requirements.Parent topic: Requirements