Red Hat OpenShift Container Platform hardware requirementsCloudera Docs
Red Hat OpenShift Container Platform hardware requirements
Cloudera Data Platform (CDP) Private Cloud requires hardware for a dedicated
        OpenShift Container Platform (OCP) cluster. An OpenShift cluster consists of several master
        nodes for managing OpenShift and many worker nodes for running your application on CDP. 
The sizing of the OpenShift cluster depends on: 
The OpenShift cluster setup on the master nodes
Application workloads deployed on the worker nodes
The CDP Private Cloud Data Services is installed on the
            OpenShift worker nodes.
The following table lists the hardware requirements for each node type. You require at
            least 3 minimum OpenShift Master Nodes + 1 Cluster System Admin Host (CSAH) Node + 1
            Bootstrap Node. You need worker nodes based on your application workload
            requirements.


Role
CPU cores
Memory
Storage



Master
4
16 GB
120 GB


CSAH
4
64 GB
200 GB


Bootstrap
4
16 GB
120 GB


Worker
Depends on your workloads
Depends on your workloads
Depends on your workloads


Additionally, if you plan to run Cloudera Data Warehouse (CDW) or Cloudera Machine
            Learning (CML) data services workloads, you need to ensure that you meet the minimum
            requirements for each of those Data Services.
You can install CDP Private Cloud Data Services in a low resource mode for Cloudera Data
            Warehouse (CDW) workloads. For more information about OpenShift low resource mode
            requirements for CDW, see Get started with OpenShift low resource mode
                requirements using the link in the related information section. importantLowering
        the minimum hardware requirement reduces the up-front investment to deploy CDW on OpenShift
        or ECS pods, but it does impact performance. Cloudera recommends that you use the
          Low Resource Mode option for proof of concept (POC) purposes only.
        This feature is not recommended for production deployment.Complex queries and multiple
          queries on HS2 may fail due to limited memory configurations for HMS and HS2 in the low
          resource mode.

Cloudera Data Warehouse hardware requirementsReview the requirements needed to get started with the Cloudera Data Warehouse (CDW)     service on Red Hat OpenShift.Cloudera Machine Learning requirements (OCP)To launch the Cloudera Machine Learning service, the OpenShift Container Platform         (OCP) host must meet several requirements. Review the following CML-specific software, NFS         server, and storage requirements.CDE hardware requirementsReview the requirements needed to get started with the Cloudera Data Engineering (CDE)   service on Red Hat OpenShift.How to use the CDP Private Cloud Data Services sizing spreadsheetYou can use the sizing spreadsheet to model the hardware     requirements for a CDP Private Cloud Data Services deployment. Parent topic: Requirements