CDP Private Cloud Data Services Hardware RequirementsCloudera Docs
CDP Private Cloud Data Services Hardware Requirements
You must learn about the minimum and recommended hardware and network infrastructure
        requirements before deploying CDP Private Cloud Data Services.
 Architects and infrastructure administrators must understand these requirements to
            install CDP Private Cloud Data Services in your data
            center.
You must know the minimum hardware requirements prior to:
Installing a dedicated Red Hat OpenShift Container Platform cluster required for
                    CDP Private Cloud
Installing and configuring CDP Private Cloud Data Services
Deploying and running the Cloudera Data Warehouse (CDW) and Cloudera Machine
                    Learning (CML) Data services


Related informationCloudera Data Warehouse hardware requirementsCDP Private Cloud Data Services deployment considerationsYou must understand the deployment requirements to sufficiently provision node         counts, CPU, memory, and other hardware resources required to install CDP Private         Cloud.Storage requirementsStorage requirements for Data Services.Parent topic: Requirements