Cloudera Data Warehouse hardware requirementsCloudera Docs
Cloudera Data Warehouse hardware requirements 
Review the requirements needed to get started with the Cloudera Data Warehouse (CDW)
    service on Red Hat OpenShift.
You can also use the CDP Private Cloud Data Services Spreadsheet to model
      the number and specification of hosts required for a deployment. See How to use the CDP Private Cloud Data Services sizing spreadsheet.

CDP Cloudera Manager must be installed and running.
CDP Private Cloud must be installed and running. See Installing on OpenShift and Installing on ECS for more details.
An environment must have been registered with Management Console on the private
         cloud. See CDP Private Cloud Environments for more details.
In addition to the general requirements, CDW also has the following minimum memory,
          storage, and hardware requirements for each worker node using the standard resource
          mode:

Depending on the number of executors you
        want to run on each physical node, the per-node requirements change proportionally. For
        example, if you are running 3 executor pods per physical node, you require 384 GB of memory
        and approximately 1.8 TB of locally attached SSD/NVMe storage.
important
When you add memory and storage, it is very important that you add it in the increments
         stated:

increments of 128 GB of memory
increments of 600 GB of locally attached SSD/NVMe storage

If you add memory or storage that is not in the above increments, the
         memory and storage that exceeds these increments is not used for
         executor pods. Instead, the extra memory and storage can be used by
         other pods that require fewer resources.
For example, if you add 200 GB of memory, only 128 GB is used by the
         executor pods. If you add 2 TB of locally attached storage, only 1.8 TB
         is used by the executor pods.

Security requirements
The CDW service requires the "cluster-admin" role
        on the OpenShift and ECS cluster in order to install correctly. The "cluster-admin" role
        enables namespace creation and the use of the OpenShift Local Storage Operator for local
        storage.


Low resource mode requirementsReview the memory, storage, and hardware requirements for getting started with the     Cloudera Data Warehouse (CDW) service in low resource mode on Red Hat OpenShift and  (ECS). This mode reduces the minimum amount of hardware     needed.Parent topic: Red Hat OpenShift Container Platform hardware requirements