Apache Spark 3.3.2 RequirementsCloudera Docs
Apache Spark 3.3.2 Requirements
The following sections describe software and hardware requirements for Spark
  3.3.2.
Software requirements
Each cluster host must have the following software installed:

Java
JDK 8 or JDK 11. Cloudera recommends using JDK 8, as most testing has been done with JDK 8.
      Remove other JDK versions from all cluster and gateway hosts to ensure proper operation. 
Scala
Scala 2.12
Python
Python 3.7 and higher


Hardware requirements
Spark 3 has no specific hardware requirements on top of what is required for Cloudera Runtime
    deployments.


