Prepare to register RAZ-enabled Azure environmentCloudera Docs
Prepare to register RAZ-enabled Azure environment
Before you register a RAZ-enabled Azure environment in CDP Public Cloud, you must
        ensure that the cloud provider prerequisites are in place.
The RAZ service consists of RAZ client and RAZ server. The RAZ client is integrated into
            the HDFS driver. The Azure environment in CDP Public Cloud can use the RAZ client and
            RAZ server capabilities after you register the RAZ-enabled Azure environment.
The Azure prerequisites for a RAZ-enabled Azure environment are described in
            the Azure requirements. When meeting these
            prerequisites, ensure that you do the following:
Pre-create a resource group on Azure. Using resource groups created
                        by CDP with a RAZ-enabled environment is not supported. See Resource groups. 
Create a designated Ranger RAZ  managed identity as described in the
                        Minimum setup for cloud storage
                    and in Creating Ranger RAZ managed identity for RAZ-enabled Azure environment. You can optionally create a
                    custom policy for the Ranger RAZ managed identity.


Creating Ranger RAZ managed identity for RAZ-enabled Azure environmentIn addition to creating the required managed identities, you should create an         additional managed identity named Ranger RAZ for RAZ-enabled Azure environment. You can also         optionally create a custom role that can be used instead of Storage Blob Data         Owner.Creating custom role to use in RAZ-enabled Azure environmentYour Azure administrator can optionally create a custom role in the Azure         subscription that can be used instead of Storage Blob Data Owner in a RAZ-enabled Azure         environment.