GCP requirementsCloudera Docs
GCP requirements
Use the following guidelines to ensure that your Google Cloud account has all the
  necessary resources required by CDP and that CDP can access these resources:
Related informationGCP permissionsGCP resources and servicesOverview of GCP resources used by CDPGCP outbound network access destinationsAccess to workload UIsSupported browsers