Cloudera Machine Learning requirements (ECS)Cloudera Docs
Cloudera Machine Learning requirements (ECS)
There are minimal requirements when using Cloudera Machine Learning on ECS.
The primary requirement is to have 1.5 TB of storage space.
For further information, see the Hardware and Software Requirements section in
     Installation using the Embedded Container Service (ECS).

Related informationInstallation using the Embedded Container Service (ECS)