AWS requirements for RAZ-enabled AWS environmentCloudera Docs
AWS requirements for RAZ-enabled AWS environment
Before you enable RAZ on an AWS environment, you must ensure that CDP has access to
        the resources in your AWS account and that your AWS account has all the necessary resources
        required by CDP. 
For information about the requirements that must be met to use AWS environment, see AWS requirements documentation. 
There are no additional requirements for a RAZ-enabled AWS environment, but RAZ can use
            the DATALAKE_ADMIN_ROLE IAM role. For more information about the
            IAM role, see Minimal setup for cloud storage.

