Azure requirements for DataFlowCloudera Docs
Azure requirements for DataFlow
As the administrator for your Azure environment, ensure that the environment meets the
    requirements listed in this topic to enable the Cloudera DataFlow experience in CDP Public
    Cloud.
Follow the steps to ensure that your Azure environment meets the CDP and DataFlow requirements:
        
Understand your Azure account requirements for CDP

Review the Azure subscription requirements. The link is in
            the Related information section below.

Verify that your Azure account for CDP has the required resources.

Verify that you have the permissions to manage these resources.


Understand the DataFlow requirements

Networking requirements:

Determine your networking option:
Use your existing VNet and subnets
Have CDP create a new VNet and subnets
Review firewall exceptions for Azure AKSDetermine your load balancer option:
public
private (internal)


Verify that the following services are available in your environment for DataFlow to
            use:

Azure environments used for the DataFlow service must have the following
              resources available in the specific Azure region where the environment is registered.
              Currently, there is no cross-regional support for DataFlow service.
Azure Kubernetes Service (AKS)Azure Database for PostgreSQLAzure Data Lake Storage Gen2Virtual machine scale setsDsv4-seriesAzure Availability Zones (optional) 

Understand DataFlow role requirements

There are two CDP user roles associated with the DataFlow service: DFAdmin and
                DFUser. Any CDP user with the EnvironmentAdmin (or higher) access level must assign
                these roles to users who require access to the DataFlow console within their
                environment.



Register an Azure Environment in CDP
Once you have met cloud provider requirements and have created the Azure provisioning
        credential for CDP, you may proceed to register an Azure Environment.
Instructions: Register an Azure environment

Use only app-based credentials
For the DataFlow service, you must only use an app-based credential, which requires the
    Contributor role to create a new service principal. For more information about creating an
    app-based credential for the environment you want to use for the DataFlow service, see Create an app-based credential. If you need to change
    your environment credential, see Change environment's credential. Both of these references
    are in the Management Console documentation.

App must have the Contributor role at the subscription level
For environments that you plan to use for the DataFlow service, you must ensure that the
        application you create in Azure has the built-in Contributor Azure role at the Azure subscription
        level. For more information, see the description of app-based credentials in Credential options on Azure.

Created Azure app must have access to the storage account used during environment
        registration
Ensure that the application, which the Azure app-based credentials are attached to, must have
    access to the ADLS Gen2 storage location that is specified when you register the Azure
    environment. This is the storage location specified in Step 6 in the Register an Azure environment topic. Also see ADLS Gen2 and managed identities for information about
    storage accounts for Azure environments. See Minimal setup for cloud storage for further details.
    These references are in the Management Console documentation.

Azure subscription should be in a similar region as the resources
Ensure that your Azure subscription is in a relatively similar region as the region where your
    resources are deployed. Particularly, be careful that the regions are governed by the same
    regulatory laws. For more information, see Azure region requirements in the Management Console
    documentation. In that topic it specifies that "CDP requires that the ADLS Gen2 storage location
    provided during environment registration must be in the same region as the region selected for
    the environment." In addition, please review Azure geographies in the Microsoft documentation.


Related informationAzure subscription requirements