Operating system requirementsCloudera Docs
Operating system requirements
A collection of operating system requirements for Kafka.
SUSE Linux Enterprise Server (SLES)
Unlike CentOS, SLES limits virtual memory by default. Changing this default requires adding
        the following entries to the /etc/security/limits.conf file:
* hard as unlimited
* soft as unlimited


Kernel Limits 
There are three settings you must configure properly for the kernel.

File Descriptors 
You can set file descriptors in Cloudera Manager by going to
                Kafka > Configuration > Maximum
                Process File Descriptors and setting the required value.
            Cloudera recommends a configuration of 100000 or higher.
Max Memory Map
You must configure the maximum number of memory maps in your specific kernel settings.
            Cloudera recommends a configuration of 32000 or higher.
Max Socket Buffer Size
Set the buffer size larger than any Kafka send buffers that you
            define.



