Additional resource requirements for Cloudera Data WarehouseCloudera Docs
Additional resource requirements for Cloudera Data Warehouse
Standard resource mode requirements for Cloudera Data Warehouse.
The following table lists the minimum and recommended compute
        (processor), memory, storage, and network bandwidth required for each OpenShift or ECS
        worker node using the Standard Resource Mode for production use case. Note that the actual
        node still needs some extra resources to run the operating system, Kubernetes engine, and
        Cloudera Manager agent on ECS.


Component
Minimum
Recommended



Node Count
4
10


CPU per worker
16 cores [or 8 cores or 16 threads that have Simultaneous Multithreading (SMT)
                enabled]
32+ cores (can also be achieved by enabling SMT)


Memory per worker
128 GB per node
384 GB* per node



FAST (Fully Automated Storage Tiering) Cache - Locally attached SCSI device(s) on
                  every worker.
Preferred: NVMe and SSD.
OCP uses Local Storage Operator. ECS uses Local Path Provisioner.

1.2 TB* SATA, SSD per host
1.2 TB* NVMe/SSD per host


Network Bandwidth
1 GB/s guaranteed bandwidth to every CDP Private Cloud Base node
10 GB/s guaranteed bandwidth to every CDP Private Cloud Base node


importantWhen you add memory and storage, it is
        very important that you add it in the increments as follows:
Increments of 128 GB of memory
Increments of 600 GB of locally attached SSD/NVMe storage
If you add memory or storage that is not in the above increments, the memory and
          storage that exceeds these increments is not used for executor pods. Instead, the extra
          memory and storage can be used by other pods that require fewer resources.For
          example, if you add 200 GB of memory, only 128 GB is used by the executor pods. If you add
          2 TB of locally attached storage, only 1.8 TB is used by the executor pods.

Parent topic: CDP Private Cloud Data Services Hardware Requirements*  Depending on the number of executors you want to run on
                  each physical node, the per-node requirements change proportionally. For example,
                  if you are running 3 executor pods per physical node, you require 384 GB of memory
                  and approximately 1.8TB (600GB per executor) of locally attached SSD/NVMe storage
                  for FAST Cache.