RequirementsCloudera Docs
Requirements



Software Support Matrix for ECSThis support matrix lists the supported software for the CDP Private Cloud Base cluster and the CDP Private Cloud Data Services containerized cluster when installing using     the Embedded Container Service (ECS). CDP Private Cloud Base Software RequirementsThe software requirements for the nodes on which CDP Private Cloud Data Services are deployed are identical to CDP Private Cloud Base. CDP Private Cloud Data Services Hardware RequirementsMinimum and recommended hardware to successfully install and run     Private Cloud Data Services.CDP Private Cloud Data Services Software RequirementsThe software requirements for the nodes on which CDP Private Cloud Data Services are deployed are identical to CDP Private Cloud Base. The most basic requirement is the operating         system and JDK support.Cloudera Machine Learning requirementsCloudera Data Warehouse requirementsCloudera Data Engineering requirements