CDP Private Cloud Base Software RequirementsCloudera Docs
CDP Private Cloud Base Software Requirements
The software requirements for the nodes on which CDP Private Cloud Data Services are deployed are identical to CDP Private Cloud Base. 
Your Private Cloud Base cluster must have the operating system, JDK, database, CDP
      components, and CDP Runtime version compatible with CDP Private Cloud Data Services. You must first set up the Private Cloud
      Base cluster, then you can install the Private Cloud Containerized cluster. 
For more information about the requirements for the Private Cloud Base cluster, see CDP Private Cloud Base Requirements and Supported
        Versions and the Base Cluster section of the Software Support Matrix for ECS.
The following CDP Private Cloud Base cluster services are required to
      fully access the Data Services:

Zookeeper
HBase
Hive Metastore (HMS)
Hive on Tez (needed for using compaction)
Ranger
Atlas
HDFS
Ozone
YARN
Kafka
Solr

In addition to this, the hive user should be able to create and list an Ozone bucket. For
      information about creating and listing ozone bucket, see Managing buckets.

Related informationManaging bucketsParent topic: Requirements