Requirements for HA and Non-HA Control PlaneCloudera Docs
Requirements for HA and Non-HA Control Plane
Standard resource mode requirements for standalone HA and Non-HA Control Plane.


Component
Minimum
Recommended



Node Count
1 (Non-HA)
3 (HA)


CPU
16 cores
32 cores (per node)


Memory
32 GB
64 GB (per node)


Storage
300 GB
1 TB (per node)


Network Bandwidth
1GB/s to all nodes and base cluster
1GB/s to all nodes and base cluster


Parent topic: CDP Private Cloud Data Services Hardware Requirements