CDP Private Cloud Data Services Software RequirementsCloudera Docs
CDP Private Cloud Data Services Software Requirements
The software requirements for the nodes on which CDP Private Cloud Data Services are deployed are identical to CDP Private Cloud Base. The most basic requirement is the operating
        system and JDK support.
This release ships with Cloudera Manager 7.10.1. This new version of Cloudera Manager has
            the support to create and manage the ECS cluster. If you have an existing CDP Private Cloud Base cluster set up using an earlier version of
            Cloudera Manager, you must first upgrade Cloudera Manager to version 7.10.1.
For more information about specific software requirments, see the Software Support Matrix for ECS. 
Additionally, you must perform the following:

For CML, you must install nfs-utils in order to mount longhorn-nfs provisioned
                mounts. The nfs-utils package is required on every node of the ECS cluster. Run this
                command yum install nfs-utils to install nfs-utils. 
If you have nodes with GPU, ensure that the GPU hosts have nVidia Drivers and
                nvidia-container-runtime installed. You must confirm that drivers are properly
                loaded on the host by executing the command nvidia-smi. You must
                also install the nvidia-container-toolkit package. 
You must have a minimum of one agent node for ECS.
Set up Kerberos on these clusters using an Active Directory.
Enable TLS on the Cloudera Manager cluster for communication with components and
                services.
If you do not have entitlements, contact your Cloudera account team to get the
                necessary entitlements.
The default docker service uses /docker folder. Whether you
                wish to retain /docker or override /docker
                with any other folder, you must have a minimum of 200 GB free space.
Ensure that all of the hosts in the ECS cluster have more than 200 GB of free space
                in the /var/lib directory at the time of installation.
The cluster generates multiple hosts and host based routing is used in the cluster
                in order to route it to the right service. You must decide on a domain for the
                services which Cloudera Manager by default points to one of the host names on the
                cluster. However, during the installation, you should check the default domain and
                override the default domain (only if necessary) with what you plan to use as the
                domain. The default domain must have a wildcard DNS entry. For example,
                “*.apps.myhostname.com”.
It is recommended that you leave IPv6 enabled at the OS level on all ECS nodes.
You must install nvidia-container-toolkit.
                    (nvidia-container-runtime migrated to
                    nvidia-container-toolkit , see Migration Notice.) The steps for this are
                shown in the NVIDIA Installation Guide. If using Red
                Hat Enterprise Linux (RHEL), use dnf to install the package. For
                an example with RHEL 8.7, see Installing the NVIDIA Container
                Toolkit.


Related informationSoftware Support Matrix for ECSParent topic: Requirements