Additional resource requirements for Cloudera Data EngineeringCloudera Docs
Additional resource requirements for Cloudera Data Engineering
For standalone Cloudera Data Engineering, Cloudera recommends three nodes (one master
  and two workers) with the following minimum memory, storage, and hardware requirements for each
  node:


Component
Minimum
Recommended



Node Count
3
5


CPU
16 cores for CDE workspace (base and virtual cluster) and 8 cores for workload
16 cores for CDE workspace (base and virtual cluster) and 32 cores (you can extend this
       depending upon the workload size) 


Memory
64 GB for CDE workspace (base and virtual cluster) and 32 GB (you can extend this
       depending upon the workload size) 
64 GB for CDE workspace (base and virtual cluster) and 64 GB (you can extend this
       depending upon the workload size) 


Storage
200 GB blob storage and 500 GB NFS storage 
200 GB blob storage and 500 GB NFS storage 


Network Bandwidth
1 GB/s to all nodes and base cluster
10 GB/s to all nodes and base cluster


Parent topic: CDP Private Cloud Data Services Hardware Requirements