Additional resource requirements for Cloudera Machine LearningCloudera Docs
Additional resource requirements for Cloudera Machine Learning
Standard resource mode requirements for standalone Cloudera Machine Learning. Node count
  should not be a limiting factor assuming the other memory and CPU minimums are
  reached.


Component
Minimum
Recommended



Node Count
1
1 per workspace + additional nodes depending on expected user workloads 


CPU
32 Cores Per Workspace+ additional Cores depending on expected user workloads
32 Cores Per workspace + additional Cores depending on expected user workloads 


Memory
128 GB + additional memory depending on the expected workloads 
256 GB Per Workspace + additional memory depending on the expected workloads 


Storage
1500 GB Block storage + 1000 GB NFS storage (Block if internal and NFS if
       external)
4500 GB Block storage + External NFS with 1000 GB NFS storage minimum + additional
       storage based on sizing of project files


Network Bandwidth
1GB/s to all nodes and base cluster
1GB/s to all nodes and base cluster


Additional Resources for User Workloads:


Component
Minimum
Recommended



CPU
1 Core per concurrent workload
2–16 cores per concurrent workload (dependent on use cases)


Memory
2 GB per concurrent workload
4–64 GB per concurrent workload (dependent on use cases)



Parent topic: CDP Private Cloud Data Services Hardware Requirements