HDF / HDP target cluster service requirementsCloudera Docs
HDF / HDP target cluster service requirements
These are the component services required for your SMM REST Server Agent target cluster. 



Component
Purpose
Comment


SMM Rest Server Agent
Provides REST endpoints that power the SMM DP Platform Application to manage
        and monitor.
Installed using a separate Ambari Management Pack.


Apache Kafka 
The Kafka cluster that you are managing with SMM.
Installed using HDF or HDP.


Apache ZooKeeper
ZooKeeper contains information about Kafka metadata. 



Knox
Provides SSO services from the DP Platform Application in DP Platform, to
        the SMM REST Server on the HDP or HDF cluster. The logged in user in DP Platform using Knox
        SSO connects to SMM REST Services. 
Installed using HDP or HDF.


AMS
Ambari Metrics Server is a time Series and Graph database built on top of
        HBase. It houses all the time series Kafka Metrics that power SMM.
Installed using HDP or HDF.


AD/LDAP
Identity Provider Store that houses user and group information for users
        that access the system. DataPlane Platform and HDP or HDF must use the same LDAP
        instance.





Parent topic: Installation Overview