Verify cluster requirements for replication policiesCloudera Docs
Verify cluster requirements for replication policies
You must complete the prerequisites before you create a replication policy in CDP
        Public Cloud Replication Manager.
The following topics list the prerequisites that must be completed before you
            create a replication policy:


HDFS replication policy
                    prerequisites


Hive replication policy
                    prerequisites


HBase replication policy
                    prerequisites



Related informationAdding a CDH clusterIntroduction to Replication ManagerRole-based credential on AWSApp-based credential on AzureManagement consoleHow to configure AWS credentialsIAM role-based authenticationSupport matrix for Replication Manager on CDP Public CloudParent topic: Appendix