OpDB system requirementsCloudera Docs
OpDB system requirements
Before you start using Operationa Database powered by Apache Accumulo (OpDB), review the
  prerequisites and system requirements to ensure all requirements are fulfilled.


OpDB depends on HDFS and ZooKeeper libraries and configuration information. Therefore, HDFS
     and ZooKeeper are mandatory services for OpDB.
Accumulo TabletServers must be collocated with DataNodes. 
Optionally, you can use OpDB powered by Apache Accumulo with YARN (MapReduce 2).


Table 1. OpDB system requirements


Supported versions
Note



CDP

CDP Private Cloud Base 7.1.5 and higher


CDP Public Cloud is not supported.
CDP Private Cloud Experiences are not supported.



Operating System

RHEL 7 / CentOS / OL7
Ubuntu 18.04 Bionic Beaver


Supported on the operating system with the same minor versions that are supported for the
        CDP installation with which OpDB is installed.



JDK

Java 8


Supported for the CDP install with which OpDB is installed.




