System RequirementsCloudera Docs
System Requirements
SRM can be installed on an HDF or HDP cluster that is running Kafka as a service. For a
    comprehensive list of supported operating systems, platforms and services, see the
      Hortonworks Support Matrix. 
Related informationHortonworks Support Matrix