Hardware RequirementsCloudera Docs
Hardware Requirements
Lists the minimum supported hardware requirements for your Workload XM
        cluster.
In addition to the minimum supported hardware requirements for the services that you have
            installed on your Workload cluster nodes, you must verify that the dedicated cluster for
                Workload XM also contains the recommended minimum hardware
            requirements.
The recommended minimum hardware requirements for the Workload XM cluster are:
A computer cluster of 5 nodes that hosts Workload XM.
Where, each computer node in the Workload XM cluster must contain a
                    minimum of:
  16 CPU cores
128 GB of RAM
  12 TB of disk space



noteTo prevent issues from impacting operations other than those performed by Telemetry
                Publisher, such as sending data to Workload XM, Cloudera highly
                recommends that the host server on which you assigned the Telemetry Publisher
                Service role is allocated its own dedicated disk. Where, depending on the number
                    and size of the jobs run on the cluster, the minimum supported disk drive size
                    is 500GB. This size includes enough disk space for Telemetry Publisher to store
                    data locally when it is unable to send data to Workload XM due to connectivity
                    or other issues.


Parent topic: System Requirements