System RequirementsCloudera Docs
System Requirements
Lists the minimum supported system requirements for your Workload XM
  cluster.
Before you install Workload XM, you must verify that your
   environment contains the minimum supported requirements for software, hardware, and networks.

Hardware RequirementsLists the minimum supported hardware requirements for your Workload XM         cluster.Supported File SystemsLists the supported file systems for your Workload XM cluster.Supported Operating SystemsLists the supported operating systems for your Workload XM   cluster.Supported Cloudera VersionsLists the supported Cloudera platform and software versions for your Workload XM cluster and Workload clusters.Network Port RequirementsLists the network port numbers and their respective protocols used by Workload XM and dependent services.