Configure the Java Heap RequirementsCloudera Docs
Configure the Java Heap Requirements
Setting the supported Java heap size for the Zookeeper, HBase, HDFS, and Phoenix
        services, ensures the long-term success of a Workload XM deployment. 
Describes how to set the Java heap size in Cloudera Manager for the Workload XM services listed in the following table.
Table 1. Java Heap Size Settings

Service
Size Setting Name
Minimum Value



ZooKeeper
Java Heap Size of ZooKeeper Server in Bytes
4 GB


HBase
HBase RegionServer(RegionServer Default Group)
16 GB


HDFS
Java Heap Size of NameNode
4 GB


Phoenix
Phoenix Query Server Max Heapsize
4 GB




In a supported web browser on the Workload XM cluster, log in to
                    Cloudera Manager.

In Cloudera Manager, select Clusters and then select the
                        Service name. For example, Zookeeper.

In the Service name page, click the
                        Configuration tab and then search for the
                        Size Setting Name. For example, in the Search field,
                    enter java heap, which locates the Java Heap
                        Size of ZooKeeper Server in Bytes setting for the Zookeeper
                    product.

Change the setting to the minimum supported value or higher for the service.
                    For example, change the Java Heap Size of ZooKeeper Server in
                        Bytes setting, to 4 GiB.

Click Save.

Repeat theses steps for each service using the above Java Heap Size
                        Settings table.


Parent topic: Installation Prerequisites