AWS account requirementsCloudera Docs
AWS account requirements
Prior to registering your AWS environment in CDP, use this document to verify that your
        AWS account has all the resources required by CDP and that your CDP administrator has
        adequate permissions to configure the resources and services in AWS.
Related informationAWS permissionsAWS resources and servicesOverview of AWS resources used by CDPAWS outbound network access destinationsAccess to workload UIsSupported browsersOther resources