Requirements for Installing FastcapaCloudera Docs
Requirements for Installing Fastcapa
The Fastcapa probe requires specific system requirements.
The following system requirements must be met to run the Fastcapa probe:


Linux kernel 2.6.34 or later


A DPDK supported ethernet device; NIC


Ports on the Ethernet device that can be dedicated for exclusive use by
              Fastcapa



Parent topic: Installing Fastcapa