Verify cluster requirementsCloudera Docs
Verify cluster requirements
You must complete the prerequisites before you create a replication policy in CDP
        Public Cloud Replication Manager.
The following topics list the prerequisites that must be completed before you
            create a replication policy:


HDFS replication policies


Hive replication policies


HBase replication policies


You can also use CDP CLI commands for HDFS and Hive replication policies. The CDP CLI
            commands for Replication Manager are under the replicationmanager
            CDP CLI option. For more information, see CDP CLI for Replication Manager.

Parent topic: Appendix