Review System RequirementsCloudera Docs
Review System Requirements
Before getting started with the Cloudera Stream Processing (CSP) installation, ensure
  that all  the system requirements are satisfied. 
Cloudera component and platform support
important
CSP 2.0.x installs Streaming components on CDH clusters. For information about installing
     Streaming components on CDP Private Cloud Base, see Runtime
      documentation for your software version. For information about installing Streaming
     components in CDP Public Cloud, see CDF for Data Hub documentation about Streams
     Messaging clusters. 



Component
Version



Cloudera Manager
6.3.0 or later


CDH 5
5.13 or later


CDH 6
6.3.0 or later


Apache Kafka


Kafka included in CDH 6.3 or later
If you are using CDH 5.13, you may install CDK 4.1 or later

note
It is strongly recommended that you use CDH 6.3.0 or later with Apache Kafka included.
          If you are using CDH 5.13.0, you may use CDK 4.1.0 or later. 




note
This documentation assumes you already have a CDH cluster installed. If you do not, see the
      Cloudera Manager installation documentation.


Operating system support



Operating system
Versions



CentOS/RHEL/Oracle


7.0
7.1
7.2
7.3
7.4
7.5
7.6
7.7
7.8




SuSE


12 SP3
12 SP2
12 SP1




Debian
9


Ubuntu


14
16
18






JDK support 

Open JDK 1.8
Oracle JDK 1.8


Database support
CSP has been tested with the following databases and versions. 

PostgreSQL 9.6
MySQL 5.6, 5.7
MariaDB 10.2


Cloudera Services Support
The following tables include information about which Cloudera services are supported in
    CSP.


Cloudera Service
Supported?
CDH Versions



Sentry
Yes
5.13 +


Navigator
No
N/A




Related informationRuntime documentationCDF for Data Hub documentation