Replication requirementsCloudera Docs
Replication requirements
Before configuring replication, make sure your environment meets all
  requirements.

Replication is supported from CDH 5 to CDP Private Cloud Base , and from CDP Private Cloud Base  to CDH 5, if
    the version of CDP Private Cloud Base  is 7.1 or higher.
Each host in both clusters must be able to reach every other host, including
    those in the ZooKeeper cluster.
Every table that contains families that are scoped for replication must exist on each cluster
    and have exactly the same name. If your tables do not yet exist on the destination cluster, see
     Create empty table on the destination cluster.
Replication is supported from HDP 3.1.5 to CDP Private Cloud Base, if
    the version of CDP Private Cloud Base is 7.1.6 or higher.


Related informationCreate empty table on the destination clusterDeploy HBase replicationParent topic: Using HBase replication