Low resource mode requirementsCloudera Docs
Low resource mode requirements
Review the memory, storage, and hardware requirements for getting started with the
    Cloudera Data Warehouse (CDW) service in low resource mode on Red Hat OpenShift and Embedded Container Service (ECS). This mode reduces the minimum amount of hardware
    needed.
To get started with the CDW service on Red Hat OpenShift or ECS low resource mode, make sure
      you have fulfilled the following requirements:
importantLowering
        the minimum hardware requirement reduces the up-front investment to deploy CDW on OpenShift
        or ECS pods, but it does impact performance. Cloudera recommends that you use the
          Low Resource Mode option for proof of concept (POC) purposes only.
        This feature is not recommended for production deployment.Complex queries and multiple
          queries on HS2 may fail due to limited memory configurations for HMS and HS2 in the low
          resource mode.

CDP Cloudera Manager must be installed and running.
CDP Private Cloud must be installed and running. See Installing on OpenShift and Installing on ECS for more details.
An environment must have been registered with Management Console on the private
         cloud. See CDP Private Cloud Environments for more details.
In addition to the general requirements, CDW also has the following minimum memory,
          storage, and hardware requirements for each worker node using the standard resource
          mode:



Component
Low resource mode deployment



Nodes
4


CPU
4


Memory
48 GB


Storage
3 x 100 GB (SATA)
                    or
                    2 x 200 GB (SATA)


Network Bandwidth
1 GB/s guaranteed bandwidth to every CDP Private Cloud Base node


importantWhen you add memory and storage for low resource mode, it is very important that you add it
        in the increments stated in the above table: 
increments of 48 GB of memory
increments of at least 100 GB or 200 GB of SATA storage

If you add memory or storage that is not in the above increments, the memory and storage
          that exceeds these increments is not used for executor pods. Instead, the extra memory and
          storage can be used by other pods that require fewer resources.

Virtual Warehouse low resource mode resource requirements
The following requirements are in addition to the low resource mode requirements listed in
       the previous section.
Table 1. Impala Virtual Warehouse low resource mode requirements

Component
vCPU
Memory
Local Storage
Number of pods in XSMALL Virtual Warehouse



Coordinator (2)
 2 x 0.4
2 x 24 GB
2 x 100 GB
2


Executor (2)
2 x 3
2 x 24 GB
2 x 100 GB
2


Statestore
0.1
512 MB
--
1


Catalogd
0.4
16 GB
--
1


Auto-scaler
0.1
1 GB
--
1


Hue (backend)
0.5
8 GB
--
1


Hue (frontend)
--
--
--
1


Total for XSMALL Virtual Warehouse
8 (7.9)
121.5 GB
400 GB - 3 volumes
--


Impala Admission Control Configuration

Maximum concurrent queries per executor: 4
Maximum query memory limit: 8 GB

Table 2. Hive Virtual Warehouse low resource mode requirements

Component
vCPU
Memory
Local Storage
Number of pods in XSMALL Virtual Warehouse



Coordinator (2)
2 x 1
2 x 4 GB
2 x 100 GB
2


Executor (2)
2 x 4
2 x 48 GB (16 GB heap; 32 GB off-heap)
2 x 100 GB
2


HiveServer2
1
16 GB
--
1


DAS
0.5
4 GB
--
1


Hue (backend)
0.5
8 GB
--
1


Hue (frontend)
--
--
--
1


Standalone compute operator
0.1
100 MB (.1 GB)
--
--


Standalone query executor (separate)
Same as executor
Same as executor
Same as executor
--


Total for XSMALL Virtual Warehouse
21 (20.6)
237 GB (236.1)
400 GB - 4 volumes
--



Database Catalog low resource mode requirements
The metastore and the DAS event processor each use 2 CPUs and 8 GB of memory.

Data Visualization low resource requirements
Table 3. Data Visualization low resource mode requirements

vCPU
Memory
Local Storage
Number of pods in XSMALL Virtual Warehouse



0.5
8 GB
--
1




Parent topic: Requirements for deploying Cloudera Data Warehouse on Private Cloud