Security requirements for Cloudera Data Warehouse Private CloudCloudera Docs
Security requirements for Cloudera Data Warehouse Private Cloud
This topic describes security requirements needed to install and run Cloudera Data
    Warehouse (CDW) Private Cloud service on Red Hat OpenShift and Embedded Container Service (ECS) clusters.
Required OpenShift/ECS cluster permissions
The CDW service requires the "cluster-admin" role
        on the OpenShift and ECS cluster in order to install correctly. The "cluster-admin" role
        enables namespace creation and the use of the OpenShift Local Storage Operator for local
        storage.

CDP Private Cloud LDAP certificate requirement
A certificate authority (CA) certificate for secure LDAP must be uploaded to the Administration page of
       Management Console to run CDW Private Cloud service:





Parent topic: Requirements for deploying Cloudera Data Warehouse on Private Cloud