Microsoft Azure account requirements for Cloudera Data Warehouse Public CloudCloudera Docs
Microsoft Azure account requirements for Cloudera Data Warehouse Public Cloud
This topic provides an overview of the Azure account requirements
    for Cloudera Data Warehouse (CDW) Public Cloud.
 
As with other supported public cloud platforms, when CDW Public Cloud is
     deployed, it uses resources from your Azure subscription that are registered
     for an environment by the CDP Management Console. Then you use that
     environment to create Database Catalogs and Virtual Warehouses in the CDW
     service. CDW has the same basic Azure requirements as those listed for
     environments in the Management Console documentation, but in addition,
     there are unique requirements for the Data Warehouse service. These two
     sets of requirements are listed in the documentation linked to at the
     bottom of this page.

Related informationAzure account requirements for CDP environmentsAzure environment requirements checklist for the           Data Warehouse service