Amazon Web Services account requirements for Cloudera Data Warehouse Public CloudCloudera Docs
Amazon Web Services account requirements for Cloudera Data Warehouse Public Cloud
This topic provides an overview of the Amazon Web Services (AWS) account requirements
    for Cloudera Data Warehouse (CDW) Public Cloud.
When the CDW Public Cloud service is deployed, it uses the AWS VPC that is
     registered for an environment by the CDP Management Console. Then you use that environment to
     create Database Catalogs and Virtual Warehouses in the Data Warehouse service. During creation
     of Database Catalogs and Virtual Warehouses, the CDW Public Cloud service creates its own AWS
     public cloud resources, such as S3 buckets, DynamoDB tables, and IAM roles and policies. CDW
     has the same basic AWS requirements as those listed for environments in the
     Management Console documentation, but in addition, there are unique
     requirements for CDW. These two sets of requirements are listed in the
     documents linked to at the bottom of this page.

Related informationAWS account requirements for CDP environmentsAWS environment requirements checklist for the           Data Warehouse service