Hardware RequirementsCloudera Docs
Hardware Requirements
This topic specifies the hardware requirements for CDP Private Cloud Base.
As you create the architecture of your cluster, you will need to allocate
      Cloudera Manager and Runtime roles among the hosts in the cluster to
      maximize your use of resources. Cloudera provides some guidelines about
      how to assign roles to cluster hosts. See Recommended Cluster Hosts and Role
        Distribution. When multiple roles are assigned to hosts, add
      together the total resource requirements (memory, CPUs, disk) for each
      role on a host to determine the required hardware. 



noteAll recommendations for the number of cores refer to logical cores, not
        physical cores.

For more information about sizing for a particular component,
      see the following minimum requirements:

Cloudera ManagerHardware requirements for Cloudera Manager Server and related     components.Cloudera RuntimeHardware requirements for Cloudera Runtime components.Parent topic: CDP Private Cloud Base Requirements and Supported Versions