Azure subscription requirementsCloudera Docs
Azure subscription requirements
Before registering your Azure environment in CDP, use this document to verify that your
    Azure account has all the resources required by CDP and that your CDP administrator has adequate
    permissions to configure the resources and services in Azure.
As an administrator, you must be able to create and manage the resources in the Azure
      subscription where CDP users create clusters and run jobs. You must be able to perform all
      administrative tasks and have administrative rights to all resources. Cloudera recommends that
      the administrator has the role of Owner in the Azure subscription and the Application
      Developer role or higher in the Azure Active Directory. 

Related informationAzure resources and servicesOverview of Azure resources used by CDPAzure outbound network access destinationsAccess to workload UIsDefault security group settings on AzureSupported browsersOther resources