Azure Account Requirements for ML WorkspacesCloudera Docs
Azure Account Requirements for ML Workspaces
The requirements for using ML Workspaces in Azure are described in Working with Azure
    environments, which is linked in the Related information section, below.
In addition, Cloudera Machine Learning on Azure has a few additional requirements: 
Cloudera Machine Learning requires one Azure virtual network.
Each ML workspace requires its own subnet.
Each ML workspace requires its own NFS file share.
Azure Files NFS 4.1, or Azure NetApp Files, are the recommended services, in order of
          preference. For Azure Files NFS 4.1, only NFS version 4.1 is supported. For Azure NetApp
          Files, only NFS version 3 is supported. We require the “No Root Squash” (or Allow Root
          Access) export option, and the volume must be shared with read and write access. The NFS
          volume must be created with at least 100 GB of storage capacity to ensure adequate I/O
          performance. It is also possible, although not recommended, to use an external NFS. For
          more information, see Other NFS Options in Related information.


Related informationWorking with Azure environmentsOther NFS OptionsUse Azure Firewall to protect Azure Kubernetes Service (AKS) Deployments