Cloudera license requirements for Replication ManagerCloudera Docs
Cloudera license requirements for Replication Manager
You must have the required license to perform your tasks in Replication Manager.

Specifically, the source cluster Cloudera Manager must have a Cloudera
                    Enterprise license in order to use the Resource Manager. To learn more about
                Cloudera license requirements, see Managing Licenses.


Parent topic: Migration prerequisites