Ports for Replication Manager on CDP Public CloudCloudera Docs
Ports for Replication Manager on CDP Public Cloud
You must open certain ports on the CDH source host to allow communication between the
        source on-premises cluster and CDP.


Connectivity required
Default Port
Type
Description
Required for the following replication scenarios



Data transfer from CDH cluster hosts to AWS S3
80 or 443 (TLS)
Outbound
Outgoing port. All CDH nodes must be able to access S3
                            endpoints
HDFS to Cloud replication (S3 Target) Hive Replication


Cloudera Manager Admin Console HTTP
7180 or 7183 when TLS enabled
Inbound
Incoming port. Open on the source cluster to enable the target
                            Cloudera Manager (in cloud) to communicate to the on-premises Cloudera
                            Manager.
Hive Replication (Not applicable for HDFS migration) 


Classic cluster setup (if using Replication Manager App)
Varies based on CCMv1 (6000-6049) or CCMv2 (443)
Outbound
Connecting the source CDH cluster to the CDP Management
                                Console via Cluster Connectivity Manager (CCM)Outbound network
                            access for CCM documented here and CCM overview
                            is documented here
Required when using the Replication Manager UI/App



Parent topic: Migration prerequisites