Requirements for configuring Cloudera Manager for high availabilityCloudera Docs
Requirements for configuring Cloudera Manager for high
    availability
Prerequisites for configuring Cloudera Manager for high
    availability. 

importantIf you are on an old Cloudera Manager high
        availability setup and planning to upgrade to Cloudera Manager 7.7.1 or higher version then
        post Cloudera Manager upgrade, you must remove the old Cloudera Manager high availability
        setup. Later, set up a new high availability for Cloudera Manager 7.7.1 or higher version as
        per the following instructions. The old Cloudera Manager high availability setup is not
        supported with Cloudera Manager 7.7.1 or higher version.

To configure high availability for Cloudera Manager, you must: 

Provide an separate host for each Cloudera Manager instance. 
Configure the database used by Cloudera Manager to run on a
        different host than the Cloudera Manager instances. 
Install and configure a load balancer to process requests to
        Cloudera Manager. 
If you are expanding an existing deployment to use Cloudera Manager
        high availability: 
Backup the Cloudera Manager database. See Back Up the Cloudera Manager
              Databases./
If TLS is enabled, backup the certificates. 

The load balancer must be configured to accept connection
        requests (both TCP and HTTP) for Cloudera Manager and redirect them to
        one of the Cloudera Manager instances. Consult the documentation for
        your load balancer for setup and configuration procedures.Cloudera recommends the HAProxy load balancer. See Sample Configuration Files for HAProxy.
If TLS is enabled for Cloudera Manager, configure the load balancer as
          follows:
The load balancer must be configured with its own TLS
            certificate.
The load balancer must be configured to terminate and re-establish
            TLS connections to the underlying Cloudera Manager hosts on ports
            7182 and 7183. TLS must be enabled on those ports.
The load balancer configuration for port 7182 must use the load
            balancer’s certificate for mutual TLS authentication.
If using Auto-TLS, all Cloudera Manager Server hosts must also
            have the Cloudera Manager agent package installed on them.

If using Kerberos Active Directory for user authentication, ensure
        that the Kerberos and LDAP client packages are installed on all Cloudera
        Manager hosts.


Parent topic: Configuring Cloudera Manager for High Availability