GCP account requirementsCloudera Docs
GCP account requirements
 When Cloudera Operational Database (COD) is deployed, it uses resources from your Google
  Cloud Platform (GCP) subscription that are registered for an environment in the CDP Management
  Console. 
You must first read the CDP Management Console documentation to understand the basic GCP
   requirements before you can deploy a COD. 
If you are using the HBase Java API and Phoenix Thick JDBC driver, you must configure an edge
   node to access data in your operational database instance. This configuration step is necessary
   to ensure that you can query data that is stored in your COD. See the related information section
   for more information.

Related informationGCP environmentsCOD edge node overview