AWS account requirements for COD deploymentCloudera Docs
AWS account requirements for COD deployment
 When Cloudera Operational Database
        (COD)
        is deployed, it uses resources from your AWS subscription that are registered for an
        environment in the CDP Management Console.
COD uses resources from your Amazon Web Services (AWS) subscription. You must first read
            the CDP Management Console documentation to understand the basic AWS requirements before
            you can deploy a COD.
 If you are using the HBase Java API and Phoenix Thick JDBC driver, you must configure an
            edge node to access data in your operational database instance. This configuration step
            is necessary to ensure that you can query data that is stored in your COD. See the
            related information section for more information.

Related informationAWS environmentsCOD edge node overview