Browser RequirementsCloudera Docs
Browser Requirements
The Ambari Install Wizard runs as a browser-based Web application. You must have a
      machine capable of running a graphical browser to use this tool.
 The minimum required
            browser versions are:


Windows (7, 8)


Firefox 18


Google Chrome 26




Mac OS x (10.6 or later)


Firefox 18


Safari 5


Google Chrome 26




Linux (CentOS)


Firefox 18


Google Chrome 26




On any platform, we recommend updating your browser to the latest, stable
        version.

Parent topic: Preparing to Install