Operating System RequirementsCloudera Docs
Operating System Requirements
Prior to installing CCP, ensure that you meet the operating system requirements for
      CCP.
CCP currently supports
            CentOS v7.x
important
If you are using CentOS 7.x, you must install the EPEL repo. Also make sure you are
               using python-requests version 2.6.1 or later.


Parent topic: Preparing to Install