Software RequirementsCloudera Docs
Software Requirements
Prior to installing CCP, ensure that you meet the software specifications required by
      CCP.

The host where you will install Apache Metron services must have the following software
            tools installed:


Hadoop (HDP 2.5 or HDP 2.6 recommended)
The following are the required components for HDP 2.5.x and HDP 2.6.x:


Apache Hadoop


Apache Storm


Apache Kafka


Apache HBase


Apache ZooKeeper
note
Supervisor, Kafka Broker, and the HBase client must be installed on the
                           host where you will install Apache Metron.





To use the PCAP query user interface, you must perform the following:

Install Wireshark.For example, for CentOS, use the following
                     command:yum -y install wireshark
Add a Metron user to the Wireshark group.For example, for CentOS, use the
                        following command:-usermod -a -G wireshark metron



MySQL


Node.js repository installed on the Management UI host
You can add the Node.js repository with the instructions from the Node.js Package
                  Manager documentation. 


Installable during the Ambari installation of CCP
The following software is required for CCP, but this software can be installed
                  manually or during the CCP Ambari installation. Cloudera recommends that you wait
                  to install this software until the Ambari installation of CCP. See the CCP
                     Release Notes for supported version numbers.


Elasticsearch or Solr


Kibana






Parent topic: Preparing to Install