Memory RequirementsCloudera Docs
Memory Requirements
Prior to installing CCP, ensure that your meet the memory requirements for
    CCP.
For memory requirements, see
        the Memory Requirements provided in the Apache Ambari Installation guide.

Parent topic: Preparing to Install