Infrastructure RequirementsCloudera Docs
Infrastructure Requirements
Prior to installing CCP, ensure that your physical nodes adhere to the specifications
      required by CCP.
CCP requires the following
            indicative specifications for your physical nodes:
Table 1. Physical Nodes

Role
Indicative Specifications




PCAP Collector Card


Ethernet—Adapter—X520—DA2  or DPDK compatible card
20 GB/Sec




PCAP Collector Server




CPUs: 2 x 8 Core Processors


Memory: 128 GB RAM


Disk Storage: 10 x 2 TB SATA Drives


Network: 2 x 10 GB NIC






NiFi Server




CPUs: 2 x 8 Core Processors


Memory: 128 GB RAM


Disk Storage: 10 x 2 TB SATA Drives


Network: 2 x 10 GB NIC






Apache Kafka / Storm Server




CPUs: 2 x 8 Core Processors


Memory: 128 GB RAM


Disk Storage: 10 x 2 TB SATA Drives


Network: 2 through 10 GB NIC






Metron Master Nodes




CPUs: 2 x 8 Core Processors


Memory: 128 GB RAM


Disk Storage: 10 x 2 TB SATA Drives


Network: 2 x 10 GB NIC






CCP Worker Nodes— Balanced




CPUs: 2 x 8 Core Processors


Memory: 128 GB RAM


Disk Storage: 10—2 TB SATA Drives


Network: 2—10 GB NIC






Parent topic: Preparing to Install