Allow CDP to create a VPCCloudera Docs
Allow CDP to create a VPC
You can choose to create a VPC through CDP.
If you choose to create a VPC through CDP, three subnets will be automatically created.
   
You will be asked to specify a valid CIDR in IPv4 range that will be used to define the range
   of private IPs for EC2 instances provisioned into these subnets.
For more information, see the AWS documentation Amazon EKS - Cluster VPC
    Considerations and Creating a VPC for your Amazon EKS Cluster. The links are
   in the Related information section below.

Related informationAmazon EKS - Cluster VPC ConsiderationsCreating a VPC for your Amazon EKS ClusterParent topic: DataFlow networking in AWS