Cloudera ManagerCloudera Docs
Cloudera Manager
Hardware requirements for Cloudera Manager Server and related
    components.


Cloudera Manager ServerService Monitor RequirementsHost MonitorReports ManagerAgent HostsEvent ServerAlert PublisherParent topic: Hardware Requirements