CDP Private Cloud Base Requirements and Supported VersionsCloudera Docs
CDP Private Cloud Base Requirements and Supported Versions
Refer to the following topics for information about hardware, operating system, and
    database requirements, as well as product compatibility matrices.

Related informationCDP Private Cloud Base Installation GuideHardware RequirementsThis topic specifies the hardware requirements for CDP Private Cloud Base.Operating System RequirementsThis topic describes the operating system requirements for CDP Private Cloud Base.Database RequirementsThis topic describes the database requirements for CDP Private Cloud Base.Java RequirementsThis topic describes the supported JDKs for CDP Private Cloud Base.Networking and Security RequirementsThis topic describes the networking and security requirements for CDP.Data at Rest Encryption RequirementsThis topic describes the data at rest encryption requirements for CDP Private Cloud Base.Third-party filesystemsThis topic describes the third-party filesystems supported by CDP Private Cloud Base.