Service Monitor RequirementsCloudera Docs
Service Monitor Requirements

The requirements for the Service Monitor are based on the number of monitored entities. To
        see the number of monitored entities, perform the following steps: 


Open the Cloudera Manager Admin Console and click
                Clusters > Cloudera Management
                Service.
Find the Cloudera Management Service Monitored Entities chart.
            If the chart does not exist, add it from the Chart Library.
For more information about Cloudera Manager entities, see Cloudera Manager Entity
          Types.
noteJava Heap Size values (see the tables below) are rough estimates and
      some tuning might be necessary. Cloudera recommends using the G1 garbage
      collector (G1GC) for Service Monitor. G1GC eliminates long JVM pauses, but
      uses a bit more CPU and RAM. It is the default for new installations. See
        Tuning JVM Garbage
      Collection.
importantService Monitor is not supported when installed on
      the BTRFS filesystem.
importantDo not place the Service Monitor on the same host as
      the Reports Manager. This can cause CPU usage issues.
Table 1. Clusters with HDFS, YARN, or ImpalaUse the recommendations in this table for clusters where the only services with worker
          roles are HDFS, YARN, or Impala.

Number of Monitored Entities
Number of Hosts
Required Java Heap Size
Recommended Non-Java Heap Size



0-2,000
0-100
1 GB
6 GB


2,000-4,000
100-200
1.5 GB
6 GB


4,000-8,000
200-400
1.5 GB
12 GB


8,000-16,000
400-800
2.5 GB
12 GB


16,000-20,000
800-1,000
3.5 GB
12 GB


Table 2. Clusters with HBase, Solr, Kafka, or Kudu Use these recommendations when services such as HBase, Solr, Kafka, or Kudu are
          deployed in the cluster. These services typically have larger quantities of monitored
          entities.

Number of Monitored Entities
Number of Hosts
Required Java Heap Size
Recommended Non-Java Heap Size



0-30,000
0-100
2 GB
12 GB


30,000-60,000
100-200
3 GB
12 GB


60,000-120,000
200-400
3.5 GB
12 GB


120,000-240,000
400-800
8 GB
20 GB



Related informationHost Monitor and Service Monitor Memory Configuration
            Parent topic: Cloudera Manager