Port requirements for Replication Manager on CDP Private Cloud BaseCloudera Docs
Port requirements for Replication Manager on CDP Private Cloud Base
Before you create replication policies in Replication Manager, ensure that the
    following ports are open and accessible on the source hosts and CDP Private Cloud Base hosts to allow communication between the source and
    destination Cloudera Manager servers and the HDFS, Hive, MapReduce, and YARN hosts, as
    required.


Service
Default Port
On-premises source hosts
Description



Cloudera Manager HTTP (Web UI)
7180note7183 when TLS enabled
All Management Nodes (CM*)
Used for control flow. Open on specific source and destination IP address and not
              on all source IP addresses to communicate to the peer (source) Cloudera Manager. After
              you configure the source and destination clusters, the destination Cloudera Manager
              connects to source Cloudera Manager on port 7180/7183 during peering.noteIf TLS is enabled, port 7180 remains open, but redirects all
                requests to HTTPS on port 7183.


HDFS NameNode
8020 
All Primary Nodes 
Used for data flow by HDFS and Hive/Impala replication to communicate from
              destination HDFS and MapReduce hosts to source HDFS NameNode(s). 


HDFS DataNode
50010 / 9866 is used for DataNode HTTP server port.note1004 is used for DataNode HTTPS server port.
All Secondary Nodes
Used for data flow by HDFS and Hive/Impala replication to communicate from
              destination HDFS and MapReduce hosts to source HDFS DataNode(s). 


NameNode WebHDFS
9870note9871 if TLS is enabled.

Used for data flow for Apache Hadoop HttpFS service to provide HTTP access to
              HDFS. HttpFS has a REST HTTP API supporting all HDFS filesystem operations (both read
              and write). For more information, see Using HttpFS.


YARN Resource Manager
8032
All Primary Nodes 
Used for data flow to access the YARN ResourceManager. For more information, see
                YARN Configuration Properties.


Hive Metastore
9083
All Management Nodes (CM*)
Used for data flow for Hive/Impala replication to query or access Hive Metastore.
              For more information, see Configure metastore location and HTTP
              mode.


Impala Catalog Server
26000
All Management Nodes (CM*)
Internal use only for data flow during Hive/Impala replication. The catalog
              service uses this port to communicate with the Impala daemons.


Ranger KMS
9292 note9494 if TLS enabled
All Primary Nodes 
Used for data flow during replication of encrypted data. For more information,
              see Migrating Keys.


Kerberos KDC Server and KRB5 services
88
All
Used for authentication flow by Replication Manager when Kerberos authentication
              is enabled on the clusters. Open the port on all the hosts on the
                destination cluster.


*Cloudera Manager



