Cloudera license requirements for Replication ManagerCloudera Docs
Cloudera license requirements for Replication Manager
You must have the necessary licenses to perform your tasks in Replication
        Manager.
For more information about Cloudera license requirements, see Managing Licenses.

Parent topic: Prepare to replicate using replication policies