System requirements for your Workload ClusterCloudera Docs
System requirements for your Workload Cluster
Lists the minimum supported system requirements for your Workload
  Cluster.
Before you start the configuration tasks for Cloudera Observability, you must verify that your Workload clusters contain the minimum supported
   requirements for software and networks. For more information on the requirements for CDP Private
   Cloud Base and CDP Private Cloud Data Services, click the Related
    Information links below.

Related informationRequirementsCDP Private Cloud Base Requirements and Supported VersionsSupported Cloudera versionsLists the supported Cloudera platform and software versions for your Workload   clusters.Network port requirements and connectivity verificationLists the network port numbers and their respective protocols used by Cloudera Observability and dependent services.Parent topic: Configuration tasks for CDP Private Cloud