RequirementsCloudera Docs
Requirements
Review the list of requirements before proceeding with the installation or
  upgrade.


As a prevalidation for installation of the Ozone parcels, ensure that
      /var/lib/hadoop-hdfs is present on all the nodes and owned by the user
      hdfs.
CDP 7.1.8 cluster with CHF 4 or greater installed and corresponding Cloudera Manager
     release.
Ozone parcel 718.2.1 is certified to work with CHF4. However, parcels are expected to be not
     sensitive to CHF releases.
Ozone Parcels are certified to work with Cloudera Manager version 7.10.1.
The table below explains the product support matrix for Private Cloud Data Services,
     Cloudera Runtime, and Ozone parcel: 
Product combination
Supportability

Private Cloud Data Services 1.5.1 with Cloudera Runtime 7.1.8 with CHF 4 or greater 
Supported

Ozone parcel 2.1 on Cloudera Runtime 7.1.8
Supported

Private Cloud Data Services 1.5.1 with Ozone Parcel 718.2.1
Supported




noteIf you upgraded the cluster from CDP 7.1.7, then you must finalize
    the upgrade. Ozone parcel releases are not certified for rollback to CDP 7.1.7.


Parent topic: OZONE-718.2.2